# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules 

/.pnp
.pnp.js
/real

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*.local

# Ignore the 'functions' folder
functions/
.functions

functions/index.js


firebase-debug.log
firebase-debug
# Ignore the 'firebase.js' file inside the 'src/firebase' folder
/src/firebase/firebase.js

# Ignore the 'PaystackPayment.js' and 'CheckoutPaystackPayment.js' files inside the 'src/components/component' folder
/src/components/component/PaystackPayment.js
/src/components/component/CheckoutPaystackPayment.js
functions/
/functions/beathub-4e595-firebase-adminsdk-66w0p-f9b0f02e98.json

node_modules/

env.local
env.development.local
env.test.local
env.production.local
env
.env

firebase-debug.log
firebase.js/
/firebase.js/firebase.js
/firebase.js/firebase.js