/* .adminDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminNav {
  margin-bottom: 20px;
}

.adminNav ul {
  list-style-type: none;
  padding: 0;
}

.adminNav li {
  display: inline;
  margin-right: 20px;
}

.adminNav a {
  text-decoration: none;
  color: #007bff;
}

.adminNav a:hover {
  text-decoration: underline;
}

.selecteds{
  color: #ff0051;

}

.new-message-indicator {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  margin-left: 5px;
}

.new-message-dot {
  background-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 5px;
} */