@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body {margin: 0;
  padding: 0;
 
  font-family: "Roboto", serif;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x:hidden;
}
  



.homepageWrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  font-size: 1rem;/*i need to adjust this to this as it  affecting the whole size of my code*/
  color: rgba(255, 255, 255, 0.715);
  background-image: url('/src/images/dj.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Makes the background sticky */
  width: 100vw;
  /* opacity: 0.2; */
  font-family: "Roboto", serif;
}
.homepageWrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9); /* Adjust this value to change opacity */
  z-index: 1;
}





/* 
.musicControlerA{ 
  min-width: 13%;
  border-radius: 5px;
  min-height: 100%;
max-width: 13%;
max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}


.musicControlerA {
  min-width: 25%; 
  max-width: 25%;
  max-height: 50px;
  min-height: auto; 
 
  border: blueviolet  solid 2px;
} */


.musicControlerA img{
  max-width: 100%;
  max-height: 110%;
  object-fit: contain;
  width: 100%; /* Scale the image width to the container */
height: 100%;

}






.imageWrapper {
  position: relative;
  display: inline-block;
  height: 100%;
  border-radius: 5px;
overflow: hidden;
aspect-ratio: 1 / 1;
object-fit: cover;
padding: auto;
margin: auto;
}

.imageWrapper img {
  display: block; /* Ensures proper positioning of the image */
  width: 100%; /* Optional: Adjust to fit your layout */
  height: 100%; /* Maintain aspect ratio */
  aspect-ratio: 1 / 1;
  object-fit: cover;
  
}

.playIcon {
  position: absolute;
  top: 50%; /* Move to the vertical center */
  left: 50%; /* Move to the horizontal center */
  transform: translate(-50%, -50%); /* Center the icon */
  color: white; /* Optional: Adjust color */
  cursor: pointer; /* Make the icon clickable */
  background-color: rgba(223, 37, 37, 0.5);
  border: rgb(223, 37, 37, 0.0);
  border-radius: 100%;
  width: 50%;
  height: 50%;
  size: 80%;
}
.playIcon:hover{
  background-color: #f1073a;;
}

.icon {
  font-size: 1.5rem
}



.App {
    text-align: center;
  }
  

  

  
  .GroupB {
  

      padding: 15px;
      width: 73%;
      height: 60vmin;
      text-align: center;
    margin-bottom: 10px;
   

  }


  .GroupB  div {
   
   text-align: center;
    margin: 15px 0 200px 0;
    
    
  }

    /* .heroText{

    } */
    





  




  .HeroPage {
    padding: 5px;
    width: 95%;
    height: 85vmin;
    text-align: center;
    margin-bottom: 20px; 
    position: relative;
    z-index: 2;
}



/* Style for HeroPageProducer */
.HeroPageProducer {
  color: #fff;
  margin: 200px 0 0 0 ; /* Adjusted margin for spacing */
}

/* Style for HeroTextProducer */
.HeroTextProducer {
 padding: 5px;
    width: 95%;
    height: 40vmin;
    text-align: center;
    margin-bottom: 20px; 
    position: relative;
    z-index: 2;
}

.HeroTextProducer h5 {
  font-size: 1rem;
  text-align: center;
  width: 95%;
  margin: 0 auto; /* Centers the block element horizontally */
  position: relative;
  z-index: 2;
}

.HeroTextProducer h1 {
  margin: 0 auto; 
    width: 95%;
    font-size: 4rem;
    color: #db3056;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    position: relative;
    z-index: 2;
}


.HeroPage  div {
color: #fff;
margin-bottom: 250px;
   }
.Typed{
  font-size: 1.8rem;
}
   
  .HeroText  h1{
    margin: 0 auto; 
    width: 95%;
    font-size: 4rem;
    color: #db3056;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    position: relative;
    z-index: 2;
}
.HeroText h5 {
  font-size: 1rem;
  text-align: center;
  width: 95%;
  margin: 0 auto; /* Centers the block element horizontally */
  position: relative;
  z-index: 2;
}








   

  


 
  
  /* .GroupCa {
    
    background-color: #5760a7;
    width: 100%;
   border: #8ffb61 solid 3px;
  
  
  } */
  
  .footer {
     background-color: #535050;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: small;
   row-gap: 0px;
    height: inherit;
    position: relative;
    z-index: 2;
    color: #ffffff;
   }

   
  
/* .GroupC {
    background-color: #9bae31;
    width: 100%;
   
    height: 25vmin;
  
  
  } */
  
  .GroupF{
     height: inherit;
    color: #61dafb;
    width: 100%;
    }
  
  .GroupD {
  height: 100px;
  color: #61dafb;
  
  }
  
  
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    /* background-color: #5e788c; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  /* .Groupxy2{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
  } */
  /* .Groupxy{
   padding: 10px 0 0px 10px;
    width: 100%;
    height: 100%; 
  } */
  
  .musicplayer-image  {
   
     border-radius: 35px;
  }
  
  /* .audioControler1 , .audioControler2, .audioControler3{
    flex-direction: row;
    display: flex;
    height: 45px; 
  } */
  
  /* .audioControler2{
    width: 100%; 
  } */
  
  
 
  
  /* .audioControler2b{
   text-align: center;
   display: flex;
   align-items: center;
   font: 0.5em sans-serif;
  } */
  
  /* .audioControler1{
    display: flex;
    justify-content: flex-start;
  
  } */
  
  /* .audioControler3 div{
    height: inherit;
    width: 40px;
    background-color: #191111;
  margin: 0 2px;
  } */

  .playSign{height: 45px;  width: 45px;
    border-radius: 45%;
    background-color: rgb(209, 207, 207);
    color: #ccc;
    margin: 0 20px 0 20px;
    text-align: center;
  
  }
  
  .playSignTitle{
    font-size: 0.71em;
  }
  
  .ad-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #1c1919; */
    color: #fff; /* White text */
    
    margin: 2px;
    border-radius: 15px;
    width: 100%;
    
  }
  
  .profile-image img {
    width: 80px;
     /* Adjusts to the container's height */
   
    border-radius: 20%;
    object-fit: cover;
   
  
  }
  
  .ad-details {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-left: 10px;
    flex: 1; /* Push the actions to the right */
    
    text-align: start;
   
  
  }
  
  .ad-title {
    font-size: 0.61em;
   
   
  
  }
  
  .ad-promotion {
    font-size: 0.41em;
    color: #ccc; /* Lighter color for the promotion */
   
  
  }
  
  .ad-actions {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between icons */
  }
  
  .add-to-cart,
  .add-to-favorites,
  .more-options {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.2em;
    
  
  }
  
  .add-to-cart img,
  .add-to-favorites img {
    width: 30px;
    height: 30px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* taiye */
  
 
    
    
   
      
     
            
  
  /*homepageWrapper*/
  .musicControlerB{ 
  min-width: 75%;
  height: 100px;
  max-height: 140px;
  padding: auto;
  margin: auto;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  }

  .imageWrapper{ 
   
    width: 85%;
    max-height: 140px;
    padding: 0 0 0 0;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    }

  .GroupC1{
    font-family: "Roboto", serif;
    margin-top: 100px;
    text-align: center;
    position: relative;
      z-index: 2;
    font-size: large;
      padding: 20px;
      background-color: #181818;
      width: 70%;
      height: fit-content;
      min-height: 10vmin;
    display: flex;

  }

  .GroupC2{
 font-size: large;
    background-color: #181818;
      width: 70%;
      min-height: 35vmin;
      height: fit-content;
      padding: 15px;
      gap: 20;

      position: relative;
      z-index: 2;
  }
  
  .market button:not(.songlist-addtochart)  {

    
    padding: 10px;
    margin-left: 2px;
    background-color:#26262600;

    color: #ccc;
    border: #eaeaea1f 0.5px solid;
    border-radius: 5%;
      }
    

      /* .songlist-addtochart{
      

      } */
      .market button:hover {

        cursor: pointer;
        background-color: #e06983;
      }
 
  
  
 
 


  .controllerB1{
    flex: 1;
    height: fit-content;
    
   
    max-height: fit-content;
  }
  
  
  .controllerB1 h4{
   text-align: left;
    display: block;
   white-space: nowrap;
    width: 80%;
   
    text-overflow: ellipsis;
    overflow: hidden;
       /* border-radius: 50px; */
  }



  .controllerB2 span{
font-size: medium;

  }

    .controllerB2{   
      flex: 1;
    width: auto;
    max-height: 50px;
    display: flex;
  align-items: center;
  align-content: center;

    /* padding: 0 10px 10px 10px; */
  }
  
  .controllerB3 button{ 
    background-color: #222222;
    border: #eaeaea1f 0.5px solid;
    height: inherit;
    color: #9a9a9a;
     align-items: center;
    justify-content: center;
    padding: 8px;
  }
  

    .controllerB3 button:hover{
      background-color: #3a3a3a;
    }


  .controllerB3{
  display: flex; 
 flex-direction: row;
 
  }

  .volume-slider{
    -webkit-appearance: none; /* Remove default style for WebKit browsers */
   margin: auto 0;
    height: 5px;
    background: #000000eb; /* Track background color */
    border-radius: 5px;
    outline: none;
  }

  .volnav{
    display: flex;
    flex-direction: row;
  
  }

  .volnav button{
    
    border: #eaeaea1f 0.5px solid;
    height: inherit;
    color: #9a9a9a;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
  }





  .title4MusicController  button{

    background-color:black;
    border-radius: 60px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0, 0.381);
  }
  .songcontainer{
    list-style-type:none;
    width: auto;
  }
  .songlist{
    display: flex; 
    border: #000 solid 1px; 
    padding: 5px;
    margin: 5px;
    flex-direction: row;

    background-color: #222222;
  }

  .songListTitle {
   margin-right: 10px;
    display: block;
   white-space: nowrap;

    overflow: hidden;
  }

  .songlist:hover{
    cursor: pointer;
    background-color: #db3056;
  }

  
  .listimage{
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
  
  .progress{
    width: 85%;
    margin-right: 10px;
    
  }
  
  .market{
    display: flex;
    flex-direction: row;
   
    margin-left: auto;
    left: 30px;
  align-items: center;
    white-space: nowrap;
  }
  .market span{
    gap: 10px;
  }
  

  .songlist-taglist{

  }


  .songlist-addtochart{
    padding: auto;
    font-size: small;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: 30px;
    width: 90px;
    background-color: #db3056;;
    color: rgba(255, 255, 255, 0.823);
    text-align: center;
    margin: 0 5px 0 5px;
  }

  .songlist-tag{
    background: rgba(80, 80, 80, 0.428); /* Optional: Change the background of the results list */
  border-radius: 10px;
  padding: 4px 7px 4px 7px;
    margin: 2px;
    font-size: medium;
    border: #f86c6c14 solid 1px;
    text-align: center;
  color: #a1a1a1;
  }
  


 



.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background: #f0f0f0;
}

.close-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.chat-button::before {
  content: "Chat with us";
  position: absolute;
  font-size: 0.8rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
  background-color: #ffffff;
  opacity: 0;
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 1;
}


.chat-button:hover::before {
  opacity: 1;
}

/*Tablet respontsiveness */

@media (max-width: 768px){
   

  .HeroPage {
    width: 90%;
  }
  .HeroPage div{
    margin-bottom: 100px;
  }
  .Typed{
    font-size: 1rem;
  }
  .HeroText h1{
    
     font-size: 2.8rem;
 color: #db3056;
 font-weight: bold;
 margin-bottom: 30px;


  }
 
   .HeroText h5 {
    
     font-size: 1em;
     color: #ffffff;
     }

     .HeroPageProducer {
   width: 90%;
}



.HeroTextProducer h1 {
   font-size: 2rem;
 color: #db3056;
 font-weight: bold;
 margin-bottom: 30px;
  }

  .HeroTextProducer h5 {
    font-size: 1em;
     color: #ffffff;
  }

   .GroupC2{
    font-size: small;
    background-color: #181818;
         width: 90%;
         height: 35vmin;
         min-height: fit-content;
         padding: 15px;
         gap: 20px;
         white-space: nowrap; /* Prevents text from wrapping */
     /* Hides the overflowing text */
    text-overflow: ellipsis;
     }

     .songlist-tag{
      font-size: small;
     }
     .songListTitle{
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis; 
     }
  .songlist-addtochart {
    width: 80px;
    height: 40px;
     max-width: 100px; 
    max-height: 45px; 
  }

  .GroupC1{
    width: 90%;
    height: 25vmin;
  
  }
  
 


.playIcon {
  
  width: 50%;
  height: 60%;
}

.progress{
  width: 50%;
  
}

.submit-button {
  width: 80%; 
}

.songlist-addtochart{
  width: 60px;
}


}  
 


 /*mobile phone responsiveness */

 

  
 





@media (max-width: 480px) {

  .HeroPage {
    width: 95vw;
    }
    
  .Typed{
    font-size: 0.6rem;
  }

  .HeroPage div{
    margin-bottom: 100px;
  }

  .HeroText h1 {
    width: 90vw;
    font-size: 1.2rem;
    color: #db3056;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }

  .HeroText h5 {
    width: 95vw;
    max-width: 60ch;
    font-size: 0.69rem;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
  }

.HeroPageProducer {
   width: 95vw;
}



.HeroTextProducer h1 {
    width: 90vw;
    font-size: 1.2rem;
    color: #db3056;
    font-weight: bold;
    text-align: center;
  }

  .HeroTextProducer h5 {
    width: 95vw;
    max-width: 60ch;
    font-size: 0.69rem;
    color: #ffffff;
    text-align: center;
    
  }
  


  .GroupC2 {
    font-size: 0.85rem;
    background-color: #181818;
    width: 95vw;
    height: auto;
    min-height: fit-content;
    padding: 1rem;
    gap: 0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
  
  }

  .GroupC1{
    margin-top: 60px;
    width: 95vw;
    height: 40vmin;
    
  }

  .songlist-taglist{
    display: none;
  }

  .songListTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.85rem;
  }



.imageWrapper {
  position: relative;
  display: inline-block;
  height: 100%;
  border-radius: 1px;
  overflow: hidden;
}

.imageWrapper img {
  display: block; 
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

  .playIcon {
    width: 80%;
    height: 60%;
    display: block;
    margin: 0 auto;
  }

  .progress {
    width: 100%;
  }

  .submit-button {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .songlist-addtochart {
    width: 70px;
    height: 40px;
     max-width: 80px; 
    max-height: 45px; 
  }
  
  .controllerB3 {
    flex-direction: row; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */

  }
  .volnav {
    flex-direction: row; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
  }
  .volume-slider {
    width: 50%; /* Make the slider full width */
    margin: 0 auto; /* Center the slider */
  }
  
  .musicControlerB{ 
width: 40%;
   
   
    
  }


  .musicControlerA {
    width: 100%; 
    height: 100%; 
   
    overflow: hidden;
aspect-ratio: 1 / 1;
object-fit: cover;
  }


  


}