@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body {margin: 0;
  padding: 0;
 
  font-family: "Roboto", serif;
  min-height: 100vh;
  min-width: 100vw;
}
  



.homepageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.5em;/*i need to adjust this to this as it  affecting the whole size of my code*/
  color: rgba(255, 255, 255, 0.715);
  background-image: url('/src/images/dj.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Makes the background sticky */
  width: 100%;
  /* opacity: 0.2; */
  font-family: "Roboto", serif;
}

/* Add responsive design */
@media (max-width: 600px) {
 body {
  border: #c28c8c solid 2px ;

   padding: 0;
   min-height: 100vh;
   max-width: 100vw;
 }
   
.homepageWrapper {
  border: #61dafb solid;
 padding-top: 15px;
  max-width: 90vw;
 min-height: 100vh;

 font-size: 1.5em;/*i need to adjust this to this as it  affecting the whole size of my code*/
 color: rgba(255, 255, 255, 0.715);
 background-image: none;
 

/* opacity: 0.2; */

}
}




.musicControlerA{ 
  min-width: 13%;
  border-radius: 5px;
  min-height: 100%;
max-width: 13%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensures child elements can be positioned absolutely */

}



.musicControlerA img{
  max-width: 100%;
  max-height: 110%;
  object-fit: contain;
  width: 100%; /* Scale the image width to the container */
height: 100%;

}






.imageWrapper {
  position: relative;
  display: inline-block;
  height: 100%;
  border-radius: 5px;
overflow: hidden;
}

.imageWrapper img {
  display: block; /* Ensures proper positioning of the image */
  width: 100%; /* Optional: Adjust to fit your layout */
  height: 100%; /* Maintain aspect ratio */

  object-fit: contain;
}

.playIcon {
  position: absolute;
  top: 50%; /* Move to the vertical center */
  left: 50%; /* Move to the horizontal center */
  transform: translate(-50%, -50%); /* Center the icon */
  color: white; /* Optional: Adjust color */
  cursor: pointer; /* Make the icon clickable */
  background-color: rgba(223, 37, 37, 0.5);
  border: rgb(223, 37, 37, 0.0);
  border-radius: 100%;
  width: 50%;
  height: 50%;
  size: 80%;
}

.icon {
  font-size: 1.5rem
}



.App {
    text-align: center;
  }
  

  

  
  .GroupB {
  

      padding: 15px;
      width: 73%;
      height: 60vmin;
      text-align: center;
    margin-bottom: 10px;
   

  }


  .GroupB  div {
   
   text-align: center;
    margin: 15px 0 200px 0;
    
    
  }

    /* .heroText{

    } */
    .heroText h3{
      text-align: center;
color: #db3056;
margin: 0px 0 35px 0;
font-size: 2.3em;
    }
    .heroText h5{
      margin: 10px 0 0px 0;
      font-size: 0.8em;
     

    }





  /* Add responsive design */
  @media (max-width: 600px) {
    .GroupB {
      font-family: "Roboto", serif;
     
margin-top: 5px;
      padding: 5px;
      min-width: 90%;
    min-height: 75vmin;
      text-align: center;
    
    
  }

  .GroupB  div {
   
   
    margin: 5px 0 100px 0;
    
    
  }

    /* .heroText{

    } */
    .heroText h3{
color: #db3056;
margin: 0px 0 25px 0;
font-size: 1.1em;
    }
    .heroText h5{
      margin: 10px 0 30px 0;
      font-size: 0.5em;
     

    }


    .GroupC1{
      font-family: "Roboto", serif;
    
      padding: 5px;
      width: 90%;
      height: 75vmin;
      text-align: center;
    
    }


  }


 
  
  /* .GroupCa {
    
    background-color: #5760a7;
    width: 100%;
   border: #8ffb61 solid 3px;
  
  
  }
   */
  
  .GroupCb {
    
    background-color: #8cc2a9;
    width: 100%;
   row-gap: 0px;
    height: inherit;
  
  
  
  }
  
/*   
  .GroupC {
    background-color: #9bae31;
    width: 100%;
   
    height: 25vmin;
  
  
  }
   */
  
  .GroupF{
     height: inherit;
    color: #61dafb;
    width: 100%;
    }
  
  .GroupD {
  height: 100px;
  color: #61dafb;
  
  }
  
  
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    /* background-color: #5e788c; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  /* .Groupxy2{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
  } */
  /* .Groupxy{
   padding: 10px 0 0px 10px;
    width: 100%;
    height: 100%; 
  } */
  
  .musicplayer-image  {
   
     border-radius: 35px;
  }
  
  /* .audioControler1 , .audioControler2, .audioControler3{
    flex-direction: row;
    display: flex;
    height: 45px; 
  } */
  
  /* .audioControler2{
    width: 100%; 
  } */
  
  
 
  
  /* .audioControler2b{
   text-align: center;
   display: flex;
   align-items: center;
   font: 0.5em sans-serif;
  } */
  
  /* .audioControler1{
    display: flex;
    justify-content: flex-start;
  
  } */
  
  /* .audioControler3 div{
    height: inherit;
    width: 40px;
    background-color: #191111;
  margin: 0 2px;
  }
   */
  .playSign{height: 45px;  width: 45px;
    border-radius: 45%;
    background-color: rgb(209, 207, 207);
    color: #ccc;
    margin: 0 20px 0 20px;
    text-align: center;
  
  }
  
  .playSignTitle{
    font-size: 0.71em;
  }
  
  .ad-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #1c1919;  */
    color: #fff; /* White text */
    
    margin: 2px;
    border-radius: 15px;
    width: 100%;
    
  }
  
  .profile-image img {
    width: 80px;
     /* Adjusts to the container's height */
   
    border-radius: 20%;
    object-fit: cover;
   
  
  }
  
  .ad-details {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-left: 10px;
    flex: 1; /* Push the actions to the right */
    
    text-align: start;
   
  
  }
  
  .ad-title {
    font-size: 0.61em;
   
   
  
  }
  
  .ad-promotion {
    font-size: 0.41em;
    color: #ccc; /* Lighter color for the promotion */
   
  
  }
  
  .ad-actions {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between icons */
  }
  
  .add-to-cart,
  .add-to-favorites,
  .more-options {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.2em;
    
  
  }
  
  .add-to-cart img,
  .add-to-favorites img {
    width: 30px;
    height: 30px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* taiye */
  
 
    
    .hero{ display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        align-items: center;
        color: #ffffff;
        background-color: gray;
        padding: 30px;
        border-bottom: dashed 2px #ffffff;}
        
        .hero-container img{ width: 400px;
            height: 300px;
        border-radius: 10px;
        box-shadow: 0px 12px 12px #000000;}
        
        .hero-container1 h2{ font-size: 1.8rem;
        text-align: center;}
        
        .hero-container1 li {
            padding: 10px;
            font-size: 1.2rem;
            list-style: none; 
            /*background-image: url('icon.png');*/
            background-size: 50px; 
            background-repeat: no-repeat; 
            background-position: left; 
            padding-left: 50px;
        }
        
    
    .license{display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color:#ffffff;
    font-size: 1rem;
    border-bottom: dashed 2px;
    text-align: center;
    padding: 10px;}
    
    .license-container {text-align: center;
    color: #db3056;
    padding: 10px;}
    
    .license-container li{text-align: left;
        color:#000000;
    padding: 10px;
    list-style: none;}
    
    .license-container1 {background-color:  gray;
    text-align: center;
    padding: 10px;}
    
    .license-container1 li {text-align: left;
    padding: 10px;
    list-style: none;}
    
    .license-btn{background: transparent;
        color:#000000;
    border: 2px solid black;
    border-radius:10px;
    padding: 5px;
    text-decoration: none;
    transition: 0.3s;}
    
    .license-btn:hover{background-color:#db3056;
    color:#ffffff;}
    
        .sellbeat {
            display: flex;
            justify-content: center; 
            flex-wrap: wrap;
            gap: 30px;
            border-bottom: dashed 2px #ffffff;
            background-color: gray;
            padding: 15px;
        }
        
        .sellbeat-container{background-color: #000000;
            color:#ffffff;
        text-align: center;
        padding: 17px;
      border-radius: 2px;}
        
        .sellbeat-container h2{font-size: 1.8rem;}
        
        .sellbeat-container li{font-size: 1.2rem;;
        padding: 10px;
      text-align: left;}
        
        .sellbeat-container1{
            text-align: left;
            padding: 15px;}
            
            .sellbeat-container1 h2{font-size: 1.8rem;}
            
            .sellbeat-container1 li{font-size: 1.2rem;
            padding:10px;} 
    
            .buy-link{background-color:#db3056;
            color:#ffffff;
            justify-content: ce;
        border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;}
    
    .buy-link:hover{background-color:gray;
    color:#ffffff;}
    
            .newsletter {background-color: #0b0a0a;
                color:#ffffff;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                padding: 20px;
            }
    
            .newsletter1{ font-size: 1.2rem;
            border-right: solid 2px white;
            color:#ffffff;
          padding: 10px;}
    
    
            
            .submit-button{height: 40px;
            width: 50%;
        border-radius: 10px;}
    
    
    
        .footer-wrapper {
          background-color: #000000;
          color: #ffffff;
          padding: 60px;
          display: flex; 
          align-items: center;
          text-align: center;
          justify-content: space-evenly;
          flex-wrap: wrap; 
        
      }
      
      .footer-container img {
          width: 100%;
          max-width: 250px;
          height: auto;
      }
      
      .footer-container a {
          color: #ffffff;
          font-size: 30px;
          text-decoration: none;
        
      }
    
      .footer-container a:hover{color:#db3056;}
      
      .footer-container1 a {
          color: #ffffff;
          font-size: 30px;
          text-decoration: none;
      }
      
      .footer-container1 a:hover {
          color: #db3056;
      }
      
      /* .accordion-container {
          display: flex;
          flex-direction: column;
          width: 20%;
      } */
      
      /* .accordion {
        background-color: #db3056;
        color: #ffffff;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border-radius: 5px;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
      }
       */
      
      /* .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212";
      }
       */
      .content {
        padding: 0 18px;
        color:#000000;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }
      
      .footer { 
          background-color: #0b0a0a;
          color: #ffffff;
          text-align: center;
          padding: 5px;
      }
      
  
  /*homepageWrapper*/
  .musicControlerB{ 
  width: 85%;
  height: 100%;
  padding: 0 0 0 25px;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  }
 

 

    
  .GroupC1{
      padding: 15px;
      background-color: #181818;
      width: 70%;
      height: 15vmin;
    display: flex;

  }

  .GroupC2{
 font-size: large;
    background-color: #181818;
      width: 70%;
      min-height: 35vmin;
      height: fit-content;
      padding: 15px;
      gap: 20;
  }
  
  .market button {

    gap: 10;
    padding: 10px;
    margin-left: 5px;
    background-color:#26262600;

    color: #ccc;
    border: #eaeaea1f 0.5px solid;
    border-radius: 5%;
      }
    
    
      .market button:hover {

        cursor: pointer;
        background-color: #e06983;
      }
 
  
  
 
 @media screen and (max-width: 600px){
  .GroupC2{
    width: 90%;
  }
  .GroupC1{
    width: 90%;
  }
 }
     




  .controllerB1{
    flex: 1;

       /* border-radius: 50px; */
  }
  
  
  .controllerB1 h4{
   
    display: block;
   white-space: nowrap;
    width: 80%;
  
  
    overflow: hidden;
       /* border-radius: 50px; */
  }



  .controllerB2 span{
font-size: medium;  }

    .controllerB2{  
      flex: 1;
    width: auto;
    height: 100%;
    display: flex;
  align-items: center;
  align-content: center;
    /* padding: 0 10px 10px 10px; */
  }
  
  .controllerB3 button{ 
    background-color: #222222;
    border: #eaeaea1f 0.5px solid;
    height: 100%;
    color: #9a9a9a;
    margin: 0 2px 0 2px ;    }
  

    .controllerB3 button:hover{
      background-color: #3a3a3a;
    }


  .controllerB3{
    flex: 1;
 
    display: flex;
    
flex-direction: row;
  
    /* margin-left: 8px; */
  }

  .volnav{
    background-color: #222222;
    display: flex;
    flex-direction: column;
  }



  .title4MusicController  button{

    background-color:black;
    border-radius: 60px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0, 0.381);
  }
  .songcontainer{
    list-style-type:none;
    width: auto;

  }
  .songlist{
    display: flex; 
    border: #363636ad solid 0.5px; 
    padding: 5px;
    margin: 5px;
    flex-direction: row;

    background-color: #222222;
  }

  .songListTitle {
   margin-right: 10px;
    display: block;
   white-space: nowrap;

    overflow: hidden;
  }

  .songlist:hover{
    cursor: pointer;
    background-color: #db3056;
  }

  
  .listimage{
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }
  
  .progress{
    width: 85%;
    margin-right: 10px;
    
  }
  
  .market{
    margin-left: auto;
    left: 30px;
  
    white-space: nowrap;
  }
  .market span{
    gap: 10px;
  }
  



  @media (max-width: 600px) {
    
    .GroupC2{
      border: #61dafb solid;
      font-size: large;
         background-color: #181818;
           width: 70%;
           height: 35vmin;
           padding: 15px;
           gap: 20;
       }

       
}







