.user-profile-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  width: 100vw;
  height: 100vh;
  height: fit-content;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.profile-header img.profile-picture {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-bottom: 10px;
}

.profile-header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.profile-header span {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.profile-header span > div {
  text-align: center;
  font-size: 14px;
}

.biography {
  text-align: center;
  margin: 10px 0;
  font-style: italic;
}
.profile-stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.profile-stats span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}


.profile-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.follow-button,
.view-store-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.follow-button {
  background-color: #db3056;
}

.view-store-button {
  background-color: #007bff;
}

.email {
  text-align: center;
  color: gray;
  margin-top: 10px;
}

.user-posts {
  margin-top: 30px;
}

.post-item,
.track-item {
  margin-bottom: 20px;
}

.timestamp {
  font-size: 12px;
  color: #888;
}
